In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/Lenovo/Downloads/marks.csv")

In [3]:
df

      name  python  java  ios  ws  np grade   avg
0  priyank      90   100   80  96  90     A  91.2
1    dhara      40    56   55  98  80     B  65.8
2      het      70    56   96  66  64     B  70.4
3     yash      50    56   44  55  66     C  54.2
4    rushi      80    88   78  66  55     B  73.4
5  shubham      50    67   80  66  30     C  58.6
6  safvaan      40    56   80  96  60     B  66.4
7    parth      60    80   80  40  70     B  66.0
8  manthan      70    80   80  50  60     B  68.0
9   nikhil      50    60   50  33  40     D  46.6

In [6]:
x = df.iloc[:,1:6].values
x

array([[ 90, 100,  80,  96,  90],
       [ 40,  56,  55,  98,  80],
       [ 70,  56,  96,  66,  64],
       [ 50,  56,  44,  55,  66],
       [ 80,  88,  78,  66,  55],
       [ 50,  67,  80,  66,  30],
       [ 40,  56,  80,  96,  60],
       [ 60,  80,  80,  40,  70],
       [ 70,  80,  80,  50,  60],
       [ 50,  60,  50,  33,  40]], dtype=int64)

In [7]:
y = df.iloc[:,6].values
y

array(['A', 'B', 'B', 'C', 'B', 'C', 'B', 'B', 'B', 'D'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [9]:
labelencoder_y = LabelEncoder()

y = labelencoder_y.fit_transform(y)
y

array([0, 1, 1, 2, 1, 2, 1, 1, 1, 3])

In [10]:
x

array([[ 90, 100,  80,  96,  90],
       [ 40,  56,  55,  98,  80],
       [ 70,  56,  96,  66,  64],
       [ 50,  56,  44,  55,  66],
       [ 80,  88,  78,  66,  55],
       [ 50,  67,  80,  66,  30],
       [ 40,  56,  80,  96,  60],
       [ 60,  80,  80,  40,  70],
       [ 70,  80,  80,  50,  60],
       [ 50,  60,  50,  33,  40]], dtype=int64)

In [15]:
type(x)

numpy.ndarray

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)
y_pred = logmodel.predict(x_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [13]:
from sklearn.metrics import confusion_matrix

In [14]:
x_test.size

10

In [15]:
y_test

array([3, 1])

In [16]:
confusion_matrix(y_test,y_pred)

array([[0, 1, 0],
       [0, 0, 0],
       [0, 1, 0]], dtype=int64)

In [24]:
2/2*100

100.0

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
classifer_knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)

In [19]:
classifer_knn.fit(x_train,y_train)

KNeighborsClassifier()

In [20]:
y_pred_knn=classifer_knn.predict(x_test)

In [21]:
y_pred_knn

array([1, 1])